* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 40px;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.cert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 550px;
  height: 300px;
  margin: 50px auto 0;
}

.info a {
  text-decoration: none !important;
  color: white !important;
}

.txt {
  resize: none !important;
}

@media (max-width: 480px) {
  .cert {
    height: 250px;
  }
}