* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  background: linear-gradient(to left, #086375, #3c1642);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.cert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  height: 500px;
  margin: 50px auto 0;
  border-radius: 40px;
}

.info a {
  text-decoration: none !important;
  color: white !important;
}

.txt {
  resize: none !important;
}

@media (max-width: 480px) {
  .circle {
    width: 250px;
    height: 220px;
    margin: 0 auto;
  }

  .img img {
    width: 300px;
    margin: 10px auto;
  }

  .cert {
    width: 300px;
    height: 200px;
  }
}