* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  padding-top: 40px;
  font-family: 'Montserrat', sans-serif; 
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.about{
  text-align: justify !important;
}

.nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.cert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 550px;
  height: 400px;
  margin: 50px auto 0;
}

.info a {
  text-decoration: none !important;
  color: white !important;
}

.txt {
  resize: none !important;
}

@media screen and (max-width: 480px) {
  .cert {
    height: 250px;
  }
  .about {
    font-size: 16px !important;
    text-align: justify !important;
  }
}